POSTGRES_PASSWORD=changeme
CLIENTS_DB_CONNECTION=Host=postgres;Port=5432;Database=devsu_clients;Username=postgres;Password=changeme
ACCOUNTS_DB_CONNECTION=Host=postgres;Port=5432;Database=devsu_accounts;Username=postgres;Password=changeme
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password